.nav-custom {
    background-color: var(--bs-dark);
    height: 54px;
}
.logo-container img {
    max-width: 100%;
    height: auto;
}
.service-title-custom {
    display: inline-block;
    background-color: var(--bs-dark);
    color: var(--bs-white);
    padding: 0.5rem 1rem;
}
@media (min-width: 992px) {
    .logo-container img {
        width: 446px;
        height: 249px;
        object-fit: contain;
    }
}